
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="og:title" content="KVG Disease Predictor">
  <meta name="author" content="VENU GOPAL KADAMBA">
  <meta name="og:image" content="static/logo1.png">
  <meta name="Keywords" content="Flask, Machine Learning, Deep Learning, Artificial Intelligence, AI, ML,DL, Web Development">
  <meta name="description" content="A Machine Learning and Deep Learning based webapp for Multiple Disease Prediction.">

  <link rel="icon" href="/static/logo1.png" type="image/icon type">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  

    <title>Social-Distance-Detection</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    
    <main role="main">
      <section>
        <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Venkata Sreeram</h4>
      <span class="text-muted">An Machine Learning Enthusisastic and an Internship Trainee @ INDIAN-SERVERS Software Development Company</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
  </section>

      <section class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Social Distance Detection</h1>
          <p class="lead">Since it was a Global
Pandemic Situation arises
with the flow of COVID-19. It
was the Responsibility of the
Owners to reduce the risk of
spreading the Virus.Is it really necessary to detect the
people who are violating the
Social-Distancing Rule.</p>
          <p>
            <a href="https://www.mayoclinic.org/diseases-conditions/chronic-kidney-disease/symptoms-causes/syc-20354521" class="btn btn-primary my-2">Read More about the Disease</a>
          </p>
        </div>
      </section>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Neural Networks</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">YOLO-V3</a>
              </h3>
              <div class="mb-1 text-muted">Realtime Object Detection</div>
              <p class="card-text mb-auto">YOLO system, an open-source method of object detection that can
recognize objects in images and videos swiftly whereas SSD (Single Shot Detector) runs a
convolutional network on input image only one time and computes a feature map. ... SSD is a
healthier recommendation.</p>
              <a href="https://viso.ai/deep-learning/yolov3-overview/">Continue reading</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Computer Vision</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Darknet Framework</a>
              </h3>
              <div class="mb-1 text-muted">ImageNet Classification - Nightmare</div>
              <p class="card-text mb-auto">For Training the Neural Networks. Open Source Framework. Written in C/CUDA. It was used as a Framework in Representing the Neural Networks.It is fast, easy to install, and supports CPU and GPU computation.Darknet Displays Information as it loads the config fileand weights then it classifies the image and prints the top-10 classes for the image.</p>
              <a href="https://www.predictiveanalyticstoday.com/darknet/">Continue reading</a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <h1 style="text-align: center;"> The Final Output</h1> <br>
      
      <img src="{{ url_for('video_feed') }}" class="img-fluid" style="height:600px; width: 100%;" alt="Gesture"><br><br>
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.icon-icons.com/icons2/2593/PNG/512/data_icon_154512.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Data-Set</h2>
            <p>We are going to give the data in Video format or by image format. Since, the YOLO-V3 is a Pretarined Neural networks, there is no need of daa set. as we have to configure the data which is going to be given to our model. so, The Data might be our live-Camera too.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://www.edureka.co/blog/wp-content/uploads/2019/01/Classification-Random-Forest-Random-Forest-In-R-Edureka-2-381x300.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Neural-Networks</h2>
            <p>YOLO-V3 Supposed with darknet Framework is used for framing the video and object detection. Computer Vision ( OpenCV ) is also a helpful one for Processing the Image and video. Since, Pooling also done in training of our model. Channel Swapping & Conversion and SSD is a
healthier recommendation.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2016/05/25/13/18/target-1414775_960_720.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Accuracy</h2>
            <p>The Accuracy for predicting the Humans is <b>98.3%</b> As we are calculating the distance between the two persons by using the Euclidian Distance Formula. There are some Issues with Resolution Power. You can still modify the absolute accuracy of the Image Capuring during the Pooling process.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">How it will works</h2>
            <p class="lead">This prediction will be used in Viligance & Security. Also can be used in all shopping malls, Temples, Wherever the croud is. Since, It was in developing stage we can embedd this code in CCTV as the System having high amount of GPU. Educational Institutions and shopping malls can be benifitted by this Technology.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">Conflicts & Modifications</h2>
            <p class="lead">SWe can rty with YOLO-V5 also. as that was in still development stage. we can modify the User Interface & Increase our model Accuracy by changing the test methodologies and apllying deep Neural networks in order to Give better results than this model.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">Future implementations</h2>
            <p class="lead">Mediapipe & Streamlit are one of the leading User INterface systems in Python. and the features, Backend propogation in thaose features are also Awesome. I wish I can go with that and implement this project in such a way that i can deploy.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      <section class="jumbotron p-3 p-md-5 text-white rounded bg-dark text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Social Distance Detection</h1>
          <p class="lead">Since it was a Global
Pandemic Situation arises
with the flow of COVID-19. It
was the Responsibility of the
Owners to reduce the risk of
spreading the Virus.Is it really necessary to detect the
people who are violating the
Social-Distancing Rule.</p>
          <p>
            <a href="https://www.mayoclinic.org/diseases-conditions/chronic-kidney-disease/symptoms-causes/syc-20354521" class="btn btn-primary my-2">Read More about the Disease</a>
          </p>
        </div>
      </section>
  
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>